<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>763960019387-a875mjnn801t57cmgi4f36oakhbu4t84.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.763960019387-a875mjnn801t57cmgi4f36oakhbu4t84</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>763960019387-1ri4qjf6dfga642ojh23icbjkqg22fh0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCk-hsb4g1nR2CfWfc5KIjrLtoQDbgbjug</string>
	<key>GCM_SENDER_ID</key>
	<string>763960019387</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>th.in.androidthai.food.street.foodstreet</string>
	<key>PROJECT_ID</key>
	<string>foodstreet-7a299</string>
	<key>STORAGE_BUCKET</key>
	<string>foodstreet-7a299.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:763960019387:ios:885740e06c32c790</string>
	<key>DATABASE_URL</key>
	<string>https://foodstreet-7a299.firebaseio.com</string>
</dict>
</plist>